<h2>Single Choice Question</h2>
<table border="1">
  <tr><td><%= @sct.title %></td></tr>
  <tr>
    <td>
      <table>
        <% 4.times do |n| %>
           <tr> <td> <input type="radio" name="test[single_choice[<%= @sct.single_choice.title %>]]" value="<%= n %>"> <%= @sct.single_choice.attributes["choice#{n}"] %> </input> </td> </tr>
          <% end %>
      </table>
    </td>
  </tr>
</table>

